//regular
$body-copy-regular: Vegur;
$body-copy-regular-path-eot: "vegur-regular-webfont.eot";
$body-copy-regular-path-svg: "vegur-regular-webfont.svg";
$body-copy-regular-path-ttf: "vegur-regular-webfont.ttf";
$body-copy-regular-path-woff: "vegur-regular-webfont.woff";
$body-copy-regular-path-woff-2: "vegur-regular-webfont.woff2";
$body-copy-regular-path-otf: "vegur-regular-webfont.otf";

//light
$body-copy-light: "Vegur Light";
$body-copy-light-path-eot: "vegur-light-webfont.eot";
$body-copy-light-path-svg: "vegur-light-webfont.svg";
$body-copy-light-path-ttf: "vegur-light-webfont.ttf";
$body-copy-light-path-woff: "vegur-light-webfont.woff";
$body-copy-light-path-woff-2: "vegur-light-webfont.woff2";
$body-copy-light-path-otf: "vegur-light-webfont.otf";

//bold
$body-copy-bold: "Vegur Bold";
$body-copy-bold-path-eot: "vegur-bold-webfont.eot";
$body-copy-bold-path-svg: "vegur-bold-webfont.svg";
$body-copy-bold-path-ttf: "vegur-bold-webfont.ttf";
$body-copy-bold-path-woff: "vegur-bold-webfont.woff";
$body-copy-bold-path-woff-2: "vegur-bold-webfont.woff2";
$body-copy-bold-path-otf: "vegur-bold-webfont.otf";
