div.one-col header.main nav {
	width: 625px;
}

header.zig.main{
	background: url("../../images/zig.png") no-repeat right 1px transparent;
		nav{
			@media screen and (max-width: 900px){
					border-top: 1px $light-gray solid;
			}
	}
	a.logo {
	    @media screen and (max-width: 900px){
			border-bottom: 0 none;
			background-position: -4px 14px;
		}
	}
}

header.main {
			overflow: hidden;
			a.logo {
			    background: url("../../images/jacob.png") no-repeat scroll -4px 14px transparent;
			    display: block;
			    height: 177px;
			    margin-bottom: 12px;
			    padding-top: 14px;
			    width: 179px;
			    @media screen and (max-width: 900px){
					border-bottom: 1px solid $gray;
					background-position: 0px 14px;
				}
				@media screen and (max-width: 640px){
					width: 100%;
				}
			}
			
			nav{
				border-top: 1px solid $gray;
				@media screen and (max-width: 900px){
					border-top: 0 none;
				}
				li {
					float:left;
					a {
						color: $gray;
						font-family: $body-copy-regular;
						padding: 15px 0 15px; 
						display: block;
						text-decoration: none;
						font-size: .9em;
						transition: .5s ease color;
						margin-right: 20px; 
						text-transform: lowercase;
					}
					a:hover{
						color: $green;
					}
				}
				
				li.current-menu-item{
					background: url("../../images/arrow.png") 0 15px no-repeat transparent;
					a {
						padding-left: 10px;
					}
				}
			}
		}