.portfolio-archive{
	h1{
		float: left;
	}
	
	h2{
		border-bottom: 2px solid white;
	    display: block;
	    font-size: 1.7em;
	    overflow: hidden;
	    padding: 0 0 20px;
		a{
			background: none repeat scroll 0 0 $green;
		    color: white;
		    display: block;
		    float: left;
		    padding: 7px 13px;
		    border: 1px solid $green;
		}
		a:hover{
			background-color: white;
			color: $green;
			border: 1px solid $green;
		}
		@media screen and (max-width: 700px){
			margin-top: 15px;
		}
	}
	
	.view{
		float: right;
		div{
			background: url("../../images/view.png") no-repeat scroll 0 -36px transparent;
		    cursor: pointer;
		    float: left;
		    height: 32px;
		    width: 32px;
		    margin-top: 35px;
		    diplay: block;
		}
		label input:checked + div.list{
			background-position: -36px -36px;
		}
		label input + div.list{
			background-position: -36px 0px;
		}
		label input:checked + div.grid{
		 	background-position: 0px 0px;
		}
		input{
			display: none;
		}
	}
	
	.excerpt {
	    float: left;
	    margin-bottom: 17px;
	    width: 45%;
	    margin-left: 5%;
	    @media screen and (max-width: 700px){
	    	width: 100%;
	    	margin-left: 0;
	    	margin-top: 15px;
	    	margin-bottom: 0;
	    }
	}

	
	a.portfolio-more{
	    background: url("../../images/circle_small.png") no-repeat scroll right 0 transparent;
	    display: block;
	    font-size: 1.3em;
	    height: 83px;
	    line-height: 83px;
	    margin: 18px 0;
	    width: 180px;
	    float: right;
	    clear: right;
	   @media screen and (max-width: 700px){
	  	float: none;
	  	margin: 0 auto;
	   }
	}
	
	a.portfolio-more:hover{
		text-decoration: underline;
	}

	.filters{
		border-top: 1px solid $gray;
		border-bottom: 1px solid $gray;

		overflow: hidden;
		margin-top: 10px;
		clear: both;
		.title{
			color: white; 
			background: $gray;
			padding: 13px 20px;
			font-family: $body-copy-regular;
			float: left;
		}
		.filter{
			float: left; 
			background: $light-gray;
			color: white;
			font-family: $body-copy-regular;
			padding: 10px;
			cursor: pointer;
			margin: 3px 0 3px 10px;
		}
		.filter.active{
			background: $green;
		}
	}
	
	.loading{
		display: none;
		padding: 80px;
		text-align: center;
	}
	
	.items{
		margin-top: 35px;
		padding: 0;
		.item {
		    border-top: 1px solid $gray;
			padding-top: 40px;
			overflow: hidden;
			padding-bottom: 40px;
		}
		
		.item:first-of-type{
			border-top: 0 none;
		}
		
		.item:last-of-type{
			margin-bottom: 40px;
		}
		
		a.grid{
			float: left;
			margin: 20px;
		}
		
		.item.rectangle{
			.images img {
			    box-sizing: border-box;
			    width: 100%;
			}
		}
		
		.images{
			clear: both;
		    overflow: hidden;
		    text-align: center;
		    width: 50%;
		    float: left;
		    @media screen and (max-width: 700px){
		    	width: 100%;
		    	float: none;
		    }
		}
		
		.item.square{
			.images{
				width: 50%;
				float: left;
				margin-top: 20px;
				@media screen and (max-width: 700px){
					margin-top: 0;
					width: 100%;
				}
			}
			.image-wrapper{
			    box-sizing: border-box;
			    width: 100%;
			
			}
				.thumbs{
					margin-top: 40px;
					.thumb{
					    display: block;
					    float: left;
					    margin-right: 10px;
					    padding: 10px;
					    width: 80px;
					    height: 80px;
					    cursor: pointer;
					    border: 1px solid;
					    img{
					    	width: 100%;
					    }
					}
					.thumb.current{
						border: 2px solid $green;
					}
				}
			.excerpt{
				float: left;
				width: 45%;
				margin-left: 5%;
				margin-top: 0;
				@media screen and (max-width: 700px){
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}
}