.portfolio-archive{
	h1{
		float: left;
	}
	
	h2{
		border-bottom: 2px solid white;
	    display: block;
	    font-size: 1.7em;
	    overflow: hidden;
	    padding: 0 0 20px;
		a{
			background: none repeat scroll 0 0 $green;
		    color: white;
		    display: block;
		    float: left;
		    padding: 7px 13px;
		}
		a:hover{
			background-color: $light-gray;
			color: white;
		}
		@media screen and (max-width: 700px){
			margin-top: 15px;
		}
	}
	
	.view{
		float: right;
		    @media screen and (max-width: 500px){
    			margin-top: 10px;
    			margin-bottom: 25px;
		    }
		div{
			background: url("../../images/view.png") no-repeat scroll 0 -36px transparent;
		    cursor: pointer;
		    float: left;
		    height: 32px;
		    width: 32px;
		    margin-top: 35px;
		    diplay: block;
			@media screen and (max-width: 500px){
				margin-top: 0;
			}
		}
		label input:checked + div.list{
			background-position: -36px -36px;
		}
		label input + div.list{
			background-position: -36px 0px;
		}
		label input:checked + div.grid{
		 	background-position: 0px 0px;
		}
		input{
			display: none;
		}
	}
	
	.excerpt {
	    float: left;
	    margin-bottom: 17px;
	    width: 45%;
	    margin-left: 5%;
	    @media screen and (max-width: 700px){
	    	width: 100%;
	    	margin-left: 0;
	    	margin-top: 15px;
	    	margin-bottom: 0;
	    }
	}

	
	a.portfolio-more{
	    background: url("../../images/circle_small.png") no-repeat scroll right center /70px transparent;
	    display: block;
	    font-size: 1.3em;
	    height: 83px;
	    line-height: 83px;
	    margin: 18px 0;
	    width: 180px;
	    float: right;
	    clear: right;
	   @media screen and (max-width: 700px){
	  	float: none;
	  	margin: 0 auto;
	  	margin-top: 20px; 
	  	background: url("../../images/circle_small.png") no-repeat scroll 105px center / 75px auto transparent;
	   }
	}
	
	a.portfolio-more:hover{
		text-decoration: underline;
	}

	.filters{
		border-top: 1px solid $gray;
		border-bottom: 1px solid $gray;

		overflow: hidden;
		margin-top: 10px;
		clear: both;
		.title{
			color: white; 
			background: $gray;
			padding: 13px 20px;
			font-family: $body-copy-regular;
			float: left;
			@media screen and (max-width: 500px){
			    float: none;
			    font-size: 0.8em;
			    margin-bottom: 2px;
			    padding: 3px;
			    text-align: center;
			    width: 100%;
			}
		}
		.filter{
			float: left; 
			background: $light-gray;
			color: white;
			font-family: $body-copy-regular;
			padding: 10px;
			cursor: pointer;
			margin: 3px 0 3px 10px;
			@media screen and (max-width: 500px){
    			margin: 3px 0 5px 10px;
			}
		}
		.filter:hover{
			background: #939393;
		}
		.filter.active{
			background: $green;
		}
		.filter.active:after{
			background: url("../../images/close.png") no-repeat right center;
		    content: "";
		    display: block;
		    float: right;
		    height: 15px;
		    width: 29px;
		}
	}
	
	.loading{
		display: none;
		padding: 80px;
		text-align: center;
	}
	
	.items{
		margin-top: 35px;
		padding: 0;
		overflow: hidden;
		.item {
		    border-top: 1px solid $gray;
			padding-top: 40px;
			overflow: hidden;
			padding-bottom: 40px;
			
			@media screen and (max-width: 700px){
				padding-top: 20px;
			}
			
			> h2{
				display: none;
				@media screen and (max-width: 700px){
					display: block;
					margin-bottom: 10px;
				}
			}
			
			.excerpt h2{
				@media screen and (max-width: 700px){
					display: none;
				}
			}
		}
		
		.item:first-of-type{
			border-top: 0 none;
			@media screen and (max-width: 700px){
				padding-top: 0;
			}
			
		}
		
		.item:last-of-type{
			margin-bottom: 40px;
		}
		
		a.grid{
		    float: left;
		    margin-bottom: 20px;
		    margin-right: 4%;
		    overflow: hidden;
		    width: 21%;
		    text-align: center;
		    
		    @media screen and (max-width: 700px){
		    	width: 46%;
		    	min-height: 170px;
		    }
		    
		    @media screen and (max-width: 400px){
		    	min-height: 100px;
		    }
		    
		    
		    img{
		    	max-width: 100%;
		    }

		}
		
		.item.rectangle{
			.images img {
			    box-sizing: border-box;
			    width: 100%;
			}
		}
		
		.images{
			clear: both;
		    overflow: hidden;
		    text-align: center;
		    width: 50%;
		    float: left;
		    @media screen and (max-width: 700px){
		    	width: 100%;
		    	float: none;
		    }
		}
		
		.item.square{
			.images{
				width: 50%;
				float: left;
				margin-top: 20px;
				@media screen and (max-width: 700px){
					margin-top: 0;
					width: 100%;
				}
			}
			.image-wrapper{
			    box-sizing: border-box;
			    width: 100%;
			
			}
				.thumbs{
					margin-top: 40px;
					.thumb{
					    display: block;
					    float: left;
					    margin-right: 10px;
					    padding: 10px;
					    width: 80px;
					    height: 80px;
					    cursor: pointer;
					    border: 1px solid;
					    box-sizing: border-box;
					    margin-bottom: 10px;
					    img{
					    	width: 100%;
					    }
					}
					.thumb.current{
						border: 2px solid $green;
					}
				}
			.excerpt{
				float: left;
				width: 45%;
				margin-left: 5%;
				margin-top: 0;
				@media screen and (max-width: 700px){
					width: 100%;
					margin-left: 0;
				}
			}
		}
	}
}

.portfolio.single{
	margin-top: 20px;
	a.back {
	    background: none repeat scroll 0 0 $light-gray;
	    color: white;
	    display: block;
	    float: left;
	    font-size: 0.7em;
	    margin-bottom: 28px;
	    padding: 6px;
	}
	
	a.back:hover{
		background: $green;
	}
	
	h1 {
	    background: none repeat scroll 0 0 $green; 
	    clear: both;
	    color: white;
	    float: left;
	    font-size: 2em;
	    padding: 10px 15px;
	}
	
	.content{
		clear: both;
	}
	
	.gallery, div[id^="gallery-"] {
		float: right;
		width: 71%;
		margin-left: 4% !important;
	}
	
	.gallery .gallery-item, div[id^="gallery-"].gallery-item {
	    margin-right: 10px !important;
	    width: auto !important;
	}
	
	.tag-wrapper {
	    border-bottom: 1px solid $gray;
	    float: left;
	    margin-bottom: 20px;
	    margin-top: 20px;
	    padding-bottom: 20px;
	    width: 25%;
	}
	
	.tags {
	    font-family: Vegur Light;
	    font-style: italic;
	    margin-bottom: 10px;
	}
	
	.portfolio-link-back {
	    background: url("../../images/circle_small_left.png") no-repeat scroll left center / 40px auto transparent;
	    display: block;
	    float: left;
	    height: 45px;
	    line-height: 45px;
	    margin-top: 5px;
	    padding-left: 50px;
	    color: $light-gray;
	   	clear: both;
	    margin-bottom: 50px;
	}
	
	.portfolio-link-back:hover{
		color: $green;
		text-decoration: underline;
	}
	
	.view-the-site {
	    background: none repeat scroll 0 0 $light-gray;
	    color: white;
	    display: block;
	    padding: 10px;
	    text-align: center;
	    width: 25%;
	    box-sizing: border-box;
	}
	
	.view-the-site:hover{
		background: $green;
	}
	
	.slider-wrapper {
	    overflow: hidden;
	    width: 100%;
	    
	    .images{
	    	overflow: hidden;
	    }
	    
	    img{
	    	max-width: 100%;
	    	border: 0 none !important;
	    	float: left;
	    	display: block;
	    }
	}
}