//body font regular
@include font-face($body-copy-regular, font-files($body-copy-regular-path-woff, $body-copy-regular-path-ttf, $body-copy-regular-path-svg), $body-copy-regular-path-eot);
 
//body font light
@include font-face($body-copy-light, font-files($body-copy-light-path-woff, $body-copy-light-path-ttf, $body-copy-light-path-svg), $body-copy-light-path-eot);

//body font bold
@include font-face($body-copy-bold, font-files($body-copy-bold-path-woff, $body-copy-bold-path-ttf, $body-copy-bold-path-svg), $body-copy-bold-path-eot);

p, h1, h2, h3, h4, a{
	font-family: $body-copy-regular;
}

h1{
	font-size:3em;
	color: $green;
}

h2{
	font-size: 2em;
}

h3{
	font-size:1.1em;
}
 

