div.one-col footer{
	top: -13px;
	max-width: 629px;
	@media screen and (max-width: 640px){
		padding: 10px 0;
    	top: 0;	
    	border-top: 1px solid $light-gray;
    	margin-top: 70px;
	}
	@media screen and (max-width: 400px){
		line-height: 1.6em;
		text-align: center;
	}
	@media screen and (max-width: 1000px){
		border-bottom: 0 none;
		top: -9px;
	}
}

footer{	
		clear: both;
		border-bottom: 1px solid $gray;
		color: $gray;
		font-family: $body-copy-regular;
		font-size: .5em;
		letter-spacing: 5px;
		padding-bottom: 3px;
		position: relative;
		margin-bottom: 50px;
		
		@media screen and (max-width: 400px){
			line-height: 1.6em;
			text-align: center;
		}

		@media screen and (max-width: 640px){
			padding: 10px 0;
	    	top: 0;	
	    	border-top: 1px solid $light-gray;
	    	margin-top: 70px;
	    	border-bottom: 0 none;
		}
		
		
	}